<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>TinCanJS by RusticiSoftware</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>TinCanJS</h1>
        <p>
            JavaScript client library for TinCan API
            <br>
            Current version: 0.8.2
        </p>
      </header>
      <section class="top">
        <ul>
          <li><a href="https://github.com/RusticiSoftware/TinCanJS/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/RusticiSoftware/TinCanJS/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/RusticiSoftware/TinCanJS">View On <strong>GitHub</strong></a></li>
        </ul>

        <p class="view"><a href="http://rusticisoftware.github.com/TinCanJS/doc/api/latest">View the API Documentation</a></p>
        <p class="view"><a href="https://github.com/RusticiSoftware/TinCanJS">View the Project on GitHub <small>RusticiSoftware/TinCanJS</small></a></p>
      </section>
      <section class="main">
        {{content}}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/RusticiSoftware">Rustici Software</a></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/TinCanJS/build/tincan-min.js"></script>
    <script src="javascripts/report.js"></script>
  </body>
</html>
